@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.imgTrash {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
}

.container {
  width: 70%;
  max-width: 680px;
  border: 1px solid rgba(170, 169, 169, 0.788);
  box-shadow: 6px 10px 10px rgba(100, 100, 100, 0.733);
  margin-top: 110px;
}

.container h3 {
  padding: 0 8px;
  height: 51px;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inputD {
  width: calc(100% - 14px);
  border: none;
  border-top: 1px solid rgba(139, 137, 137, 0.623);
  height: 48px;
  padding-left: 12px;
  color: rgb(110, 110, 110);
  font-family: 'Oxygen', sans-serif;
}

#list {
  width: 100%;
  margin: 0;
  padding: 0;
}

#list li {
  height: 51px;
  border-top: 1px solid rgba(139, 137, 137, 0.623);
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 12px;
  color: rgb(87, 85, 85);
}

.button_clear {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(139, 137, 137, 0.623);
  border-radius: 0;
  height: 51px;
  color: rgb(110, 110, 110);
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

.check {
  margin-right: 12px;
}

#imgRecycle {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 12px;
}

.inputTask {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(139, 137, 137, 0.623);
  color: rgb(87, 87, 85);
  height: 51px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  display: none;
  background-color: rgba(201, 201, 201, 0.158);
}

.imgRemove {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 20px;
  display: none;
  z-index: 10;
}

.button_clear:hover {
  background-color: rgba(184, 181, 181, 0.397);
}

.holder-text {
  font-style: italic;
}
